.cartitems {
    padding: 100px 150px;
    box-shadow: inset 0 0 10px black;
    background-color: #fefae0;
}
.cartitems hr {
    height: 3px;
    background: #283618;
    border: 0;
}
.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 1.75fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding: 20px 0px;
    color: #283618;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon {
    height: 62px;
}
.cartiems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #dda15e;
} 
.cartitems-down {
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    color: #283618;
}
.cartitems-total h1{
    font-size: 26px;
}
.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button {
    width: 262px;
    height: 45px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px black;
    background: #dda15e;
    color: #606c38;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
}
.cartitems-total button:hover{
    background-color: #606c38;
    color: #fefae0;
    box-shadow: 0 0 10px #dda15e;
}
.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    
}
.cartitems-promocode p {
    color: #555;
}
.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 40px;
    background: hwb(0 100% 0%);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 38px;
}
.cartitems-promobox button {
    width: 170px;
    height: 40px;
    font-size: 16px;
    background: pink;
    color: black;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media(max-width: 1280px) {
    .cartitems {
        padding:60px 50px;
    }
    .cartitems-format-main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 15px;
        padding: 15px 0px;
        font-size: 16px;
    }
    .carticon-product-icon {
        height: 50px;
    }
    .cartitems-remove-icon {
        margin: auto;
    }
    .cartitems-quantity {
        width: 40px;
        height: 30px;
    }
    .cartitems-down {
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartitems-total {
        margin: 0;
    }
    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitems-promobox {
        width: auto;
        max-width: 500px;
    }
    .cartitems-promobox input {
        width: 100%;
    }
    .cartitems-promobox button {
        width: 120px;
        margin-left: -125px;
    }
}
@media(max-width: 900px) {
    .cartitems-format-main {
        gap: 10px;
        font-size: 12px;
    }
    .cartitems-format{
        display: grid;
    }
    .cartitems-total h1{
        font-size: 20px;
    }
    .cartitems-total-item{
        font-size: 14px;
    }
}
@media(max-width: 600px) {
    .cartitems{
        padding: 60px 12px 30px 12px;
        box-shadow: inset 0 0 5px black;
    }
    .cartitems-format-main {
        grid-template-columns: 0.5fr 2.0fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    }
    .cartitems-total h1{
        font-size: 16px;
    }
    .cartitems-total-item{
        font-size: 12px;
    }
    .cartitems-total button {
        font-size: 12px;
        height: 35px;
    }
}