.loginsignup {
    width: 100%;
    padding: 100px 0;
    background-color: #fefae0;
    box-shadow: inset 0 0 10px black;
}
.loginsignup-container {
    width: 580px;
    height: 580px;
    background-color: #606c38;
    color: #dda15e;
    margin: auto;
    padding: 80px 40px 0px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px #dda15e;
}
.loginsignup-container h1 {
    font-size: 26px;
    margin: 20px 0px;
}
.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    
}
.loginsignup-fields input {
    height: 45px;
    width: 100%;
    padding-left: 2px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #000000;
    background-color: #fefae0;
    font-size: 16px;
    border-radius: 5px;
}
.loginsignup-fields ::placeholder{
    color: #3d3d3d;
}
.loginsignup-container button {
    width: 100%;
    height: 60px;
    color: #283618;
    background: #dda15e;
    margin-top:50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.loginsignup-container button:hover{
    background-color: #fefae0;
    color: #606c38;
    box-shadow: 0 0 10px #dda15e;
}
.loginsignup-login {
    margin-top: 30px;
    color: #dda15e;
    font-size: 16px;
    font-weight: 500;
}
.loginsignup-login span {
    color: #fefae0;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-login span:hover {
    color: #283618;
}
.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    color: #dda15e;
    font-size: 16px;
    font-weight: 500;
}
@media(max-width: 1280px) {
    .loginsignup {
        padding-top: 50px;
    }
    .loginsignup-container {
        width: 500px;
        height: 500px;
    }
    .loginsignup-container h1 {
        margin: 10px 0px;
        font-size: 22px;
    }
    .loginsignup-fields {
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input {
        height: 40px;
        font-size: 14px;
    }
    .loginsignup-container button {
        width: 100%;
        height: 50px;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree {
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width: 1020px){
    .loginsignup{
        padding-top: 100px;
        box-shadow: inset 0 0 5px black;
    }
    .loginsignup-container {
        padding:30px;
        width: 400px;
        height: 400px;
    }
    .loginsignup-container h1 {
        font-size: 24px;
    }
    .loginsignup-fields {
        margin-top: 20px;
    }
    .loginsignup-fields input {
        height: 30px;
        font-size: 12px;
    }
    .loginsignup-container button {
        height: 35px;
        font-size: 14px;
    }
    .loginsignup-login{
        font-size: 12px;
    }
    .loginsignup-agree {
        font-size: 12px;
        gap: 10px;
    }
}
@media(max-width: 530px){
    .loginsignup{
        min-height: 60vh;
        padding: 150px 0 80px 0;
    }
    .loginsignup-container {
        padding:30px;
        width: 290px;
        height: 380px;
    }
    .loginsignup-container h1 {
        font-size: 18px;
    }
    .loginsignup-fields {
        margin-top: 20px;
    }
    .loginsignup-fields input {
        height: 28px;
        font-size: 12px;
    }
    .loginsignup-container button {
        height: 30px;
        font-size: 14px;
    }
    .loginsignup-login{
        font-size: 11px;
    }
    .loginsignup-agree {
        font-size: 11px;
        gap: 5px;
    }
}