.shop-category {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px #283618;
    background-color: #fff7ee;
    min-height: 90vh;
}
.shop-category .item-price-new span {
    display: inline-flex;
    color: #dda15e;
    font-weight: 500;
}
.category-text{
    text-transform: capitalize;
    text-align: center;
    color: #bb792c;
    font-family: "Zalando Sans Expanded";
    font-weight: 700;
    font-size: 32px;
    width: 300px;
    padding-top: 100px;
    margin: 0 auto;
    border-bottom: #283618 1px solid;
}
.shopcategory-products {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    gap: 20px 10px ;
    width: 100%;
    align-content: center;
    justify-content: center;
}
#reverse {
    display:none;
}

@media (max-width:1850px) {
    .shopcategory-products{
        width: 100%;
        grid-template-columns: 19% 19% 19% 19% 19%;
    }
}
@media (max-width:1550px) {
    .shopcategory-products .name{
        font-size: 16px;
    }
    .shopcategory-products .size{
        font-size: 14px;
    }
}
@media(max-width: 1280px) {
    .shopcategory-products{
        width: 100%;
        margin: 30px auto 50px auto;
        grid-template-columns: 32% 32% 32%;
    }
}
@media(max-width: 1105px) {
    .category-text{
        font-size: 30px;
    }
    .shopcategory-products{
        display: grid;
    }
}
@media(max-width: 840px) {
    .shop-category{
        gap: 6px;
        padding: 30px 0;
    }
    .category-text{
        font-size: 22px;
        padding: 60px 0 0px 0;
    }
    .shopcategory-products {
        width: 100%;
        gap:20px 10px;
        grid-template-columns: 48% 48%;
        padding: 0;
    }
    .shopcategory-products .item{
        width: 100%;
    }
}
@media(max-width: 600px) {
    .shop-category{
        box-shadow: inset 0 0 5px black;
    }
    .category-text{
        font-size: 26px;
    }
    .shopcategory-products .item img{
        
        width: 100%;
    }
    .shopcategory-products .name{
        font-size: 14px;
        font-weight: 600;
    }
    .shopcategory-products .item-price-new{
        font-size: 16px;
        font-weight: 600;
    }
}
@media(max-width: 480px) {
    .shop-category{
        width: 100%;
        box-shadow: none;
    }

    .shopcategory-products{
        margin-top: 20px;
        grid-template-columns: 47.5% 47.5%;
        gap:10px 5px;
    }
    .shopcategory-products .name{
        font-size: 12px;
    }
    .shopcategory-products .size{
        font-size: 11px;
    }
    .shopcategory-products .item-btn {
        font-size: 14px;
        height: 18px;
        margin: 10px auto 5px auto;
    }
    .shopcategory-products .item-price-new{
        font-size: 15px;
    }
}

