.breadcrum {
    display: flex;
    padding: 20px 150px; 
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
@media(max-width: 1280px) {
    .breadcrum {
        padding: 20px 100px;
    }
}
@media(max-width: 1024px) {
    .breadcrum {
        font-size: 13px;
    }
}
@media(max-width: 840px) {
    .breadcrum {
        margin: 0px 30px 10px 30px;
        font-size: 12px;
        padding: 30px 0px 0px 0;
    }
    .arrow{
        height: 12px;
    }
}
@media(max-width: 500px) {
    .breadcrum {
        font-size: 10px;
    }
    .arrow{
        height: 10px;
        width: 7px;
    }
}
